/* Layout */

#content{
    width: 900px;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
header {
    margin-left:25%;
    margin-right:25%;
    margin-top: 2%;
}
footer {
    margin-left:25%;
    margin-right:25%;
    margin-top: 15px;
    text-align: center;
}

/* Theming */
* {
    font-family: "MS Gothic";
    color: #d6d1bc;
}
p {
    color: #d6d1bc;
}
.bg {
    background-image: url(images/sparkling_star.gif);
}
::selection {
    background: #6f7998;
    color: #d6d1bc;
}
textarea {
    color: #d6d1bc;
    background-color: #1f1725;
    resize: none;
}

/* Link Theming */

a:link{
    color:#d6d1bc;
}
a:visited{
    color:#d6d1bc;
}

/* Scrollbar Theming */

*{
    scrollbar-width: thin;
    scrollbar-color: #24171c #644856;
}

/* Misc. */

html {
    scroll-behavior: smooth;
}

/* HOME */

/* PROFILE */

#profile {
    width: 265px;
    background-color: #24171c;
    border: 2px solid #644856;
    border-radius: 1px;
    padding: 5px;
    margin-right: 10px;
    height: fit-content;
}
.userinfo {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}
.pfp {
    width: 75px;
    margin-right: 10px;
}
.name {
    font-size: 17px;
}
.bio {
    font-size: 12px;
}
.listening {
    margin-left: 10px;
    margin-right: 10px;
}
#socials {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
hr {
    border-color: #644856;
}

/* MAIN */

#main {
    width: 100%;
    background-color: #24171c;
    border: 2px solid #644856;
    border-radius: 1px;
    padding: 5px;
}
.maintext {
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.4;
}

#nav {
    padding: 5px;
    border-right: 2px solid #644856;
    margin-right: 10px;
    min-width: 9vw;
    float: left;
}
.navlink {
    margin-left: 10px;
    color:#d6d1bc;
}
.navprefix1,.navprefix2 {
    transition: 0.2s;
}
.navprefix1 {
    opacity: 1;
    position: absolute;
}
.navprefix2 {
    opacity: 0;
}
.navlink:hover .navprefix1 {
    opacity: 0;
}
.navlink:hover .navprefix2 {
    opacity: 1;
}
#updates {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 270px;
    width: 175px;
    background-color: #1f1725;
    scrollbar-color: #533c4d #24171c;
    scrollbar-width: thin;
}
#updates p {
    font-size: 13px;
}
#updates h3 {
    font-size: 16px;
}
#updates::-webkit-scrollbar-thumb{
    background-color:#544751;
}
#updates::-webkit-scrollbar{
    width: 3px;
}

/* Lastfm */

#recentSong{
    display:flex;
    align-items:center;
}
#albumCover{
    margin-right:5px
}
#recentSong div{
    font-family: "MS Gothic";
    font-size:14px;
    margin-left:10px;
    text-decoration:none;
}
#lastPlayedInfo{
    margin-top:10px;
}
.listening {
    text-transform: uppercase;
}

/* Status Cafe */

#statuscafe {
    margin-left: 10px;
    margin-right: 10px;
}
#statuscafe-username {
    margin-bottom: .5em;
    font-family: "MS Gothic";
    font-size: 13px;
    color: #d6d1bc;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
    margin-bottom: 15px;
    color: #d6d1bc;
}
.status {
    text-decoration: none;
    font-size: 15px;
}

/* BLOG */

.blogbg {
    background-color: #24171c;
    margin: 0px;
}
.blog {
    line-height: 1.3;
}
#blognav {
    width: 10vw;
    float: left;
    background-color: #1f1725;
    border: 2px solid #644856;
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
}
#blognav p {
    margin-left: 15px;
}

/* Mobile */

@media screen and (max-width:550px){
    #content{
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
        flex-direction: column-reverse;
        width: 95%;
    }
    header {
        margin-left:0%;
        margin-right:0%;
    }
    footer {
        margin-left:0%;
        margin-right:0%;
    }
    #profile {
        width: 100%;
        margin-top: 15px;
    }
    #updates {
        width: 38vw;
        height: 330px;
    }
    #blognav {
        float: none;
        position: relative;
        width: 100vw;
        border-right: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-top: -8vh;
    }
}

/* Overlays */

.scanlines::before {
    content: "";
    position: fixed;
    opacity: .2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    background-image: url(images/overlay.png);
    background-repeat: all;
    background-position: 0 0;
    animation-name: Static;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    box-shadow: inset 0 0 10em rgb(0 0 0/40%)
}

.scanlines::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    opacity: .5;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    background-image: url(images/overlay2.png);
    background-repeat: all;
    background-position: 0 0;
    animation-name: Static;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4)
}
@keyframes Static {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 0 4px
    }
}
.pixel::before {
    content: " ";
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    z-index: 1000;
    pointer-events: none
}
.pixel::after {
    content: " ";
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 1000;
    pointer-events: none
}