/* FONTS */
@font-face {
	font-family: "LCD";
	src: url("/assets/fonts/lcddot_tr.ttf");
	font-display: swap;
}

/* BODY */
body {
    background: var(--background);
}
#content {
    margin: auto;
    width: 1000px;
    min-width: 600px;
    margin-top: 50px;
}
#header {
    border: var(--box-border);
    margin-bottom: 15px;
}
#headerimg {
    height: 200px;
    background: var(--header-img);
}
#head-marquee {
    height: 45px;
    background: #000;
    background:var(--grid);
    background-size:var(--gridsize);
    border-top: var(--box-border);
}
#head-marquee h3 {
    font-family: LCD;
    font-size: 62px;
    margin: 9px;
    text-shadow: 0px 0px 5px #cd403984;
}
#body {
    display: flex;
}
.left-column {
    width: 20%;
}
.main-column {
    width: 60%;
    margin: 0 15px;
}
.right-column {
    width: 20%;
}
.container {
    background: black;
    padding: 10px;
    border: var(--box-border);
}

/* TEXT */
p {
    color: var(--color-2);
}
h1 {
    color: var(--color-7);
}
h2 {
    color: var(--color-5);
}
h3 {
    color: var(--color-7);
}
h4 {
    color: var(--color-9);
}
h5 {
    color: var(--color-11);
}
h6 {
    color: var(--color-13);
}
p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:link{
    color: inherit;
}
a:visited{
    color: inherit;
}