/* FONTS */

@font-face {
	font-family: "pixel";
	src: url("/assets/fonts/PixelOperator.ttf");
	font-display: swap;
}
@font-face {
	font-family: "pixel2";
	src: url("/assets/fonts/PixelOperator-Bold.ttf");
	font-display: swap;
}

/* LAYOUT */

#content {
    margin: auto;
    width: 1000px;
    min-width: 600px;
    margin-top: 25px;
}
#headercontainer {
    border: var(--box-border);
    width: 100%;
    margin-bottom: 15px;
}
#navbar {
    background: var(--stripes);
    font-family: "pixel2", Geneva, Verdana, sans-serif;
    text-decoration: underline;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    border-top: var(--box-border);
}
#contentbox {
    display: flex;
    width: 100%;
}
#journal {
    width: 100%;
}
.box {
    border: var(--box-border);
    width: 100%;
}
.boxtitle {
    background: var(--head-color);
    border-right: var(--head-stripe-color) 4px;
    display: flex;
    align-items: center;
    width: min-content;
    margin: 0;
    padding: 5px 10px;
}

/* THEMING */

body {
    background: var(--background);
}
#banner {
    height: 200px;
    background: var(--header-img);
    align-content: center;
    font-size: 3em;
    color: var(--h2-color);
    padding: 0 50px;
}
.boxhead img {
    width: 25px;
    margin-right: 10px;
}
.boxhead {
    background: var(--stripes);
    height: 48px;
    margin-bottom: var(--head-stripe-color) 6px;
}
.boxbody {
    font-family: "pixel", Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    color: var(--body-color);
    background-color: var(--box-background);
}

/* TEXT */

#navbar h3 { /* NAVBAR LINKS */
    margin: 0;
    align-content: center;
    color: var(--h3-color);
    font-size: 1.5em;
    background: var(--head-color);
    padding: 0 10px;
}
.boxtitle h2 {
    color: var(--h2-color);
    font-family: "pixel2", Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    margin: 0;
}
.boxbody p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "pixel", Geneva, Verdana, sans-serif;
}

/* MISC */

a:link {
    color: inherit;
}
a:visited {
    color: inherit;
}
@media screen and (max-width:550px){

}