#journalnav {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px 0 0 10px;
    border-right: var(--blog-border);
}
.journaltab {
    font-family: "content", Geneva, Verdana, sans-serif;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}
#entries {
    padding: 0 15px;
    height: 58vh;
    width: 100%;
    overflow: hidden scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.entry {
    margin: 10px 0 20px 0;
    border: var(--blog-border);
    padding: 10px;
}
#movies .entry, #other .entry {min-height: 225px;}
#music .entry {min-height: 150px;}
.entry h2 {
    color: var(--blog-title);
    background: var(--blog-header);
    text-decoration: none;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.entry h2 i {
    color: inherit;
    text-shadow: inherit;
    margin-right: 7px;
}
.cover {
    float: left;
}
#music .entry .cover img {
    width: 137px;
    height: auto;
    margin-right: 10px;
}
#movies .entry .cover img, #other .entry .cover img {
    width: auto;
    height: 232px;
    max-width: 170px;
    object-fit: contain;
    margin-right: 10px;
}
.logcategory {
    padding-left: 10px;
}
.logcategory h3 {
    text-decoration: underline;
}
#currently {
    margin-top: 20px;
}
#currently h5 {
    padding-left: 15px;
}