@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
body {
    background: url(/themes/assets/monochrome/crater.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'JetBrains Mono';
    color: white;
}
#content {
    width: 33%;
    min-width: 800px;
    margin: 0 auto;
    background-color: black;
    padding: 15px;
    border: 1px white solid;
}
h1 {
    font-family: 'JetBrains Mono';
    color: #ff7ada;
    text-shadow: 0 0 6px #ff7ada;
    animation: pulse 0.1s infinite;
}
p {
    color: white;
}
footer {text-align: center; padding: 15px 0;}