@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
body {
    background: black;
    font-family: 'JetBrains Mono', monospace;
    font-size: .9em;
    line-height: 1.3;
}
#content {
    width: 40%;
}
.post hr {
    margin: 15px 0;
}
.date {
    margin: 0 !important;
    display: flex;
    align-items: center;
}
.date sub {
    margin-left: 5px;
    color: var(--sub-color);
}
.main-column {
    width: 80%;
    margin: 0 0 0 15px;
}
.left-column {
    width: 20%;
}
.posts {
    overflow: scroll;
}
.post-title h1 {
    font-family: 'content', monospace;
    font-size: 2.1em;
    margin-bottom: 5px;
}
a:hover {
    filter: none;
}
#theme-buttons {
    position: fixed;
}
::selection {
    background-color: var(--h1-color);
    background-blend-mode: soft-light;
    color: inherit;
}

span {
    font-size: 16px;
    color: white;
}
.codeblock {
    background-color: rgb(32, 32, 32);
    padding: 15px 100px 15px 15px;
    margin: 15px 0 15px 0;
    border-radius: 8px;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    color: white;
}
.homegif {
    position: fixed;
    top: 15px;
    left: 15px;
}