/* // 2049 // */

:root {
    /* HEADER */
    --header-img: no-repeat url("/themes/assets/2049/2049-banner2.jpg");

    /* COLORS */
    --p-color: #ffffff;
    --h1-color: #d54aa5;
    --h2-color: #d54aa5;
    --h3-color: #7b7dba;
    --h4-color: #7b7dba;
    --h5-color: #d54aa5;
    --h6-color: #7b7dba;
    --i-color: #ce2896;

    --selection: #7D4D74;

    --marquee-text: #4e30a2;
    --marquee-shadow: 0px 0px 7px #4e30a2;

    --scroll-color: #000;
    --scroll-thumb-color: #2e1f1a;

    /* HEADERS */
    --stripes: repeating-linear-gradient(180deg,#2B201C,#2B201C 3px,#000 3px,#000 6px);
    --grid: linear-gradient(-90deg, #ffffff0f 1px, transparent 1px),linear-gradient(#ffffff0f 1px, transparent 1px),#000;
    --gridsize: 4px 4px,4px 4px,80px 80px,80px 80px,80px 80px,80px 80px,80px 80px,80px 80px;

    /* BODY */
    --background: url(/themes/assets/2049/bg.jpg) no-repeat fixed center;
    --body-color: #543310;
    --box-border: #C0C0C0 4px ridge;

   /* BLOG */
   --blog-border: #C0C0C0 dotted 2px;
   --blog-header: linear-gradient(90deg, #421c2e 65%, #00000000);
   --blog-title: #F89CF6;
}