/* // FANCY THAT // */

:root {
    /* HEADER */
    --header-img: no-repeat url(/themes/assets/fancythat/redbanner.png);

    /* COLORS */
    --p-color: #FEEDFD;
    --h1-color: #fff;
    --h2-color: #fff;
    --h3-color: #fff;
    --h4-color: #fff;
    --h5-color: #fff;
    --h6-color: #fff;
    --i-color: #7699a8;
    --sub-color: #7fa4b7;

    --selection: #0a4570;

    --marquee-text: #fff;
    --marquee-shadow: 0px 0px 7px #fff;

    --scroll-color: #2E1F1B;
    --scroll-thumb-color: #A13A3F;

    /* HEADERS */
    --stripes: repeating-linear-gradient(135deg,#ffffff0f,#ffffff0f 3px,#580c0c 3px,#580c0c 6px);
    --grid: repeating-linear-gradient(-135deg,#ffffff0f,#ffffff0f 2px,#000 2px,#000 4px);
    --gridsize: 4px 4px,4px 4px,80px 80px,80px 80px,80px 80px,80px 80px,80px 80px,80px 80px;

    /* BODY */
    --background: url(/themes/assets/fancythat/bg-tile-dark.png);
    --box-bg: #0e0a06;
    --box-border: #fff 2px dashed;

    /* BLOG */
    --blog-border: #CE5D3C dotted 2px;
    --blog-header: linear-gradient(90deg, #CE5D3C 65%, #000);
    --blog-title: #F4EF36;

}

body {
    background-size: auto;
}
body p {
    font-family: 'Fraunces', monospace, serif;
    font-weight: 200;
    font-size: 0.8rem;
}
a:hover{
    filter: none;
    color: #7fa4b7;
}