/* // KANYE UNIVERSE CITY // */

:root {
     /* HEADER */
     --header-img: no-repeat url("/themes/assets/a2.jpg");
 
     /* COLORS */
     --p-color: #FEEDFD;
     --h1-color: #ed145b;
     --h2-color: #ed145b;
     --h3-color: #ed145b;
     --h4-color: #03F3C6;
     --h5-color: #03F3C6;
     --h6-color: #03F3C6;

     --scroll-color: #000;
     --scroll-thumb-color: #8B8798;

    --marquee-text: #FEE403;
    --marquee-shadow: #fee5038e;

    /* HEADER */
    --header-img: no-repeat url("/themes/assets/kanye/glow-banner.jpg");

    /* HEADERS */
    --stripes: linear-gradient(180deg,#06415F, #000);
    --grid: linear-gradient(-90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),#000;
    --gridsize: 4px 4px,4px 4px,80px 80px,80px 80px,80px 80px,80px 80px,80px 80px,80px 80px;

    /* BODY */
    --background: #000 no-repeat fixed center;
    --body-color: #543310;
    --box-border: #8B8798 4px ridge;
}

