/* // NEO-TOKYO // */

 :root {
     /* HEADER */
     --header-img: no-repeat url("/themes/assets/neo-tokyo/neo-banner.gif");
 
     /* COLORS */
     --p-color: #ffffff;
     --h1-color: #ff7ada;
     --h2-color: #ff7ada;
     --h3-color: #00d9a0;
     --h4-color: #00d9a0;
     --h5-color: #ff7ada;
     --h6-color: #00d9a0;
     --i-color: #f7c66a;
     --sub-color: #a7a7a7;

     --selection: #7D4D74;
 
     --marquee-text: #CD4039;
     --marquee-shadow: 0 0 0.75em #CD4039;

 
     --scroll-color: #000;
     --scroll-thumb-color: #2e1f1a;
 
     /* HEADERS */
     --stripes: repeating-linear-gradient(180deg,#2B201C,#2B201C 3px,#000 3px,#000 6px);
     --grid: linear-gradient(-90deg, #ffffff0f 1px, transparent 1px),linear-gradient(#ffffff0f 1px, transparent 1px),#000;
     --gridsize: 4px 4px,4px 4px,80px 80px,80px 80px,80px 80px,80px 80px,80px 80px,80px 80px;
 
     /* BODY */
     --background: url(/themes/assets/neo-tokyo/neobg.jpg) no-repeat fixed center;
     --box-bg: #000 ;
     --box-border: #C0C0C0 4px ridge;
     --cursor: url(/themes/assets/neo-tokyo/cursor.png);

    /* BLOG */
    --blog-border: #C0C0C0 dotted 2px;
    --blog-header: linear-gradient(90deg, #421c2e 65%, #00000000);
    --blog-title: #F89CF6;
 }