
/* // v2.22 // */

:root {
    /* BOX THEMING */
    --header-img: url(/images/assets/1/v1banner.jpg);
    --background-img: linear-gradient(#ffdaf3, #ffdaf3);
    --box-header-img: none;
    --bgattatch: fixed;
    --bgsize: 100%;
    --box-border: #5d8fdc 2px solid;
    --box-border-radius: none;

    /* // COLORS // */
    --header-color: #9fb0fb;
    --box-bg-color: #efe593;
    --box-bg-img: none;
    --blog-border: none;

    /* SCROLLBAR */

    --scrollbarcolor: #efe593;
    --scrollbarthumbcolor: #9fb0fb;

    /* // TEXT //*/
    
    --header-font: head;

    /* p */
    --content-font: content;
    --main-text-size: 23px;
    --main-text-color: #feedfd;

    /* h1 */
    --h1color: #efe593;
    --h1size: 2em;
    --h1shadow: 1px 1px 0 #cbd9e0, -1px 1px 0 #cbd9e0, -1px -1px 0 #cbd9e0, 1px -1px 0 #cbd9e0;

    /* h2 */
    --h2color: #d69ac0;
    --h2size: 2em;
    --h2shadow: 1px 1px 0 #cbd9e0, -1px 1px 0 #cbd9e0, -1px -1px 0 #cbd9e0, 1px -1px 0 #cbd9e0;

    /* h3 */
    --h3color: #a4d5d7;
    --h3size: 1.5em;
    --h3shadow: 1px 1px 0 #cbd9e0,-1px 1px 0 #cbd9e0,-1px -1px 0 #cbd9e0,1px -1px 0 #cbd9e0;;

    /* h4 */
    --h4color: #5d8fdc;
    --h4size: 1.17em;
    --h4shadow: 1px 1px 0 #cbd9e0,-1px 1px 0 #cbd9e0,-1px -1px 0 #cbd9e0,1px -1px 0 #cbd9e0;;

    /* h5 */
    --h5color: #d69ac0;
    --h5size: 1em;
    --h5shadow: 1px 1px 0 #cbd9e0,-1px 1px 0 #cbd9e0,-1px -1px 0 #cbd9e0,1px -1px 0 #cbd9e0;;

    /* h6 */
    --h6color: #a4d5d7;
    --h6size: .83em;
    --h6shadow: 1px 1px 0 #cbd9e0,-1px 1px 0 #cbd9e0,-1px -1px 0 #cbd9e0,1px -1px 0 #cbd9e0;;
}
