/* // KANYE UNIVERSE CITY // */

:root {
     /* HEADER */
    --header-img: no-repeat url("/themes/assets/a2.jpg");
 
     /* COLORS */
    --p-color: #FEEDFD;
    --h1-color: #ed145b;
    --h2-color: #ed145b;
    --h3-color: #77d4ff;
    --h4-color: #77d4ff;
    --h5-color: #ed145b;
    --h6-color: #77d4ff;
    --i-color: #FEE403;

    --selection: #06415F;

    --marquee-text: #FEE403;
    --marquee-shadow: 0px 0px 7px #FEE403;

    --scroll-color: #000;
    --scroll-thumb-color: #8B8798;
    /* HEADER */
    --header-img: no-repeat url("/themes/assets/universecity/glow-banner.jpg");

    /* HEADERS */
    --stripes: linear-gradient(180deg,#06415F, #000);
    --grid: linear-gradient(-90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px),linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),#000;
    --gridsize: 4px 4px,4px 4px,80px 80px,80px 80px,80px 80px,80px 80px,80px 80px,80px 80px;

    /* BODY */
    --background: #000 no-repeat fixed center;
    --box-bg: #000;
    --box-border: #303030 4px ridge;

    /* BLOG */
    --blog-border: 1px solid #303030;
    --blog-header: linear-gradient(90deg, #06415F 65%, #00000000);
    --blog-title: #D31180;
}

.crt-overlay {
    display: none !important;
    animation: none !important;
}