@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
body {
    background: black;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}
#entries {
    padding: 80px 0 0 0;
    width: 33%;
    margin: 0 auto;
}
.entry {
    margin: 5px 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px white solid;
}
.entry p {
    line-height: 1.3 !important;
    font-size: .9em;
}
.entry i {
    font-weight: bold;
}
a:link, a:visited{color: white;}
#journalnav {
    position: fixed;
    margin-left: 15px;
}
#journalnav a {
    text-decoration: none;
}
#journalnav a p {
    margin: 0;
}
#journalnav a:hover {
    text-decoration: underline;
}
::selection{
    background: white;
    color: black;
}
footer p {
    font-size: .7em;
}
@media screen and (max-width:1000px){
    #entries {
        width: 99%;
        padding: 0;
    }
    #journalnav {
        position: relative;
    }
}